.background_parallax {
  background: url('../../imgs/background.png') repeat;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.flexWrap {
  width: 999999px;
  height: 100vh;
  display: inline-flex;
  align-items: center;
}

.portfolioWrap {
  display: inline;
  background-color: rgba(33, 33, 33, .3);
  height: 63.5vh;
  padding-left: 77px;

  &__text {
    float: left;
    width: 400px;
    height: 100%;
    display: block;

    &--navigation {
      a {
        display: block;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }

  &__gallery {
    display: inline;
    float: left;
    background-color: rgba(33, 33, 33, .4);
    height: 56.5vh;
    img {
      height: 200px;
      width: 200px;
      padding: 0 50px;
    }
  }
}