.background_parallax {
  background: url('../../imgs/background.png') repeat;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.flexWrap {
  height: 100vh;
  display: flex;
  align-items: center;
}

.portfolio {
  width: 100%;
  height: 59vh;
  overflow: scroll;
  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 75px;
    padding-top: 73px;
    float: left;
    position: fixed;
    height: 59vh;
    line-height: 27px;
  }
  li {
    list-style-type: none;
    color: #ffffff;
    font-size: 18px;
  }
  &__gallery {
    width: 10000px;
    height: 59vh;
    position: absolute;
    &-wrapper {
      position: relative;
      overflow: hidden;
      height: 59vh;
      margin-left: 375px;
    }
    &--item {
      height: 100%;
      width: 59vh;
      background-color: #0088ff;
      margin-right: 30px;
      float: left;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      position: relative;
    }
  }
}

#makeMeScrollable {
  margin-left: 375px;
  width: 71%;
  height: 59vh;
  position: relative;
}

.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
