body {
  background-image: url("../../imgs/background.png");
}

.services {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 70px;
  &__left-block {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: #ffffff;
    margin-right: 180px;
    &--title {
      font-size: 36px;
    }
    &--navigation {
      margin-top: 20px;
      a {
        font-size: 18px;
        line-height: 27px;;
        display: block;
        color: rgba(255, 255, 255, .54);
      }
    }
  }
  &__text {
    float: left;
    font-size: 16px;;
    color: #ffffff;
  }
}
