.wrap {
  background: url("../../imgs/serveces_bg.jpg") no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.services {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 150px 0 0 70px;
  &__left-block {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: #ffffff;
    margin-right: 180px;
    padding-top: 53px;
    &--navigation {
      margin-top: 20px;
      a {
        font-size: 18px;
        line-height: 27px;;
        display: block;
        color: rgba(255, 255, 255, .54);
      }
    }
  }
  &__text {
    float: left;
    color: #fff;
    font-family: LatoWeb;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-variant: small-caps;
  }
}
